<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="simonlang.coastdove.core">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".CoastDoveService"
            android:label="Coast Dove"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/serviceconfig" />
        </service>

        <activity android:name="simonlang.coastdove.core.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="simonlang.coastdove.core.ui.detectable_app_details.DetectableAppDetailsActivity"
            android:parentActivityName="simonlang.coastdove.core.ui.main.MainActivity" />
        <activity
            android:name="simonlang.coastdove.core.ui.app_usage_data_details.AppUsageDataDetailsActivity"
            android:parentActivityName="simonlang.coastdove.core.ui.detectable_app_details.DetectableAppDetailsActivity" />
        <activity android:name="simonlang.coastdove.core.ui.add_app.AddAppActivity" />
    </application>

</manifest>